{% extends 'base.html.twig' %}

{% block title %}Portfolio Gavois Karl - Log in{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="logged2">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="logged">
            Vous êtes connectés comme : {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal centertext mtop-40">Connexion</h1>
    <div class="containerlog">
        <label class="_username" for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="_username" id="_username" class="form-control emailinput" autocomplete="email" required autofocus>
        <label class="password" for="password">mot de passe :</label>
        <input type="password" name="password" id="password" class="passwordinput" autocomplete="current-password" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </div>
</form>
{% endblock %}