
<h1>Nouvelle demande de contact de la part de :</h1>
<h2> Nom : {{nom}}<br>Prénom : {{prenom}}</h2>
<h3>Objet : {{objet}}</h3>
<p>Message complet : {{message}}</p>
<h3>Email de la personne : {{mail}}</h3>
<br>
<p>Cet email est généré automatiquement à partir du site Rivages Propres, merci de ne pas y répondre</p>

