<style>

</style>


Nom : {{nom}}
Prénom : {{prenom}}
Email : {{mail}}
Objet : {{objet}}
Message complet : {{message}}

<p>Cet email est autogénéré à partir du site Rivages Propres, merci de ne pas y répondre</p>